body {
    background-image: url("img/fundo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: '100%';

    background-color: hsl(0, 2%, 34%);
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

body.ind {
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;    
}

h1 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: rgb(200, 235, 6);
}

h1.espaco_top {
  margin-top: 200px; 
  color: rgb(238, 170, 69);  
}

h1.vel {
    margin-top: 30px; 
    color: rgb(238, 170, 69);  
}
  
p {
    text-align: justify;
    color: rgb(245, 242, 242);
    font-size: 18px;
    line-height: 1.5;
}

p.ind {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}

a:link{
   color: rgb(221, 235, 26); 
   text-decoration: none;
}

a:visited{
   color: aqua; 
}

a:hover{
  color: white;
  text-decoration: underline;  
}

table{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(245, 235, 235);
    background-color: rgb(139, 126, 109);
    margin-top: 20px;
}

td.txt {
  padding-left: 20px;
  padding-right: 20px;  
  text-align: center;  
}